body{
    background-color: rgb(220, 218, 215);
    margin: 0vw;
}

h1{
    font-size: 2.5em;
}


.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5vh 10vw 1.5vh 10vw;
    background-image: url("images/0_marquee_2321.jpg");
}

.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-right: 1em;
    align-self: baseline;
}

.navItem{
    padding-left: 1em;
    padding-top: 0.6em;
    font-size: 1.5em;
}