body {
    background-image: url("0_marquee_2320.jpg");
    background-repeat: repeat-y;
    background-size: 125% auto;
    background-color: antiquewhite;
    background-attachment: fixed;
}

#Bio_Main {
    color: beige;
    background: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    word-spacing: 10px;
    text-align: center;
    font-family: 'HoloLens MDL2 Assets';
    font-size: 50px;
    font-weight: bold;
}

#Bio_header1 {
    text-align: center;
    font-family: 'HoloLens MDL2 Assets';
}

.Bio_header3 {
    color: aliceblue;
    font-weight: bold;
    font-family: 'DejaVu Math TeX Gyre';
}

.Bio_ImageDegas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.Bio_paragraph {
    text-align: center;
    font-family: 'Constantia';
}

.Bio_botton {
    background-color: #2f3240;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Constantia';
}

.hide {
    display: none;
}

.show {
    display: block;
    /*Displays an element as a block element (like <p>). 
        It starts on a new line, and takes up the whole width*/
}